a,
a:hover {
  text-decoration-color: red;
}

a h3 {
  color: #131313;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  background-color: #ffffff;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

blockquote {
  border-left: none;
  color: initial;
  font-weight: 700;
}

.shadow {
  -webkit-box-shadow: 4px 6px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 16px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 16px 1px rgba(0, 0, 0, 0.75);
}

article.home {
  padding: 0;
  min-width: 200px;
  max-width: 400px;
}

.site-head-center {
  justify-content: center;
  a {
    color: white;
    background-color: black;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.all-categories-link {
  text-align: center;
  margin: 10rem 0rem;

  a {
    color: red;

    &:hover {
      text-decoration: underline;
    }
  }
}
